USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 12/1/2024 10:07:36 PM ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/1/2024 10:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 12/1/2024 10:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InsertedTime] [datetime2](7) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[PersonalIdNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[CountryOfOrigin] [int] NOT NULL,
	[Gender] [int] NOT NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241201204747_InitialCreate', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([Id], [InsertedTime], [FirstName], [LastName], [DateOfBirth], [PersonalIdNumber], [Email], [CountryOfOrigin], [Gender]) VALUES (1, CAST(N'2024-12-01T21:49:08.9185715' AS DateTime2), N'a', N'b', CAST(N'2024-12-19' AS Date), N'b', N'a@r.r', 0, 0)
INSERT [dbo].[Persons] ([Id], [InsertedTime], [FirstName], [LastName], [DateOfBirth], [PersonalIdNumber], [Email], [CountryOfOrigin], [Gender]) VALUES (2, CAST(N'2024-12-01T22:00:34.5276339' AS DateTime2), N'a', N'b', CAST(N'2024-12-21' AS Date), N'n', N'd@d.s', 0, 0)
INSERT [dbo].[Persons] ([Id], [InsertedTime], [FirstName], [LastName], [DateOfBirth], [PersonalIdNumber], [Email], [CountryOfOrigin], [Gender]) VALUES (3, CAST(N'2024-12-01T22:02:27.2610260' AS DateTime2), N'a', N'a', CAST(N'2024-12-03' AS Date), N'd', N'd@d.s', 0, 0)
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
USE [master]
GO
